
.inventory-title{
    text-align: center;
    color:blueviolet;
}



.inventory-container{
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

/* make inventory responsive */
@media only screen and (max-width:576px){
    .inventory-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:577px) and (max-width:992px) {
    .inventory-container{
        grid-template-columns: repeat(2, 1fr);
    }
}